 @import './variables';
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size:calc(100vw/3.75);
  color: $font-color;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
  font-weight: 400;
  min-height: 600px;
}

body {
  font-family: "PingFang SC",-apple-system,BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  font-size: .15rem;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0px;
  padding: 0px;
  zoom: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #333;
}

a:active {
  outline: 0;
}

a:active {
  color: #333;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  vertical-align: middle;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f3f3f3 inset !important;
}

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}


legend {
  border: 0;
  padding: 0;
}

textarea {
  resize: none;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  word-wrap: break-word;
  word-break: break-all;
}

html,
button,
input,
select,
textarea {
  font-family: PingFangSC, 'Microsoft Yahei', Helvetica, STHeiTi, Arial,
    sans-serif;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
  margin: 0;
}

ul,
ol,
li,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none outside none;
}

h1,
h2,
h3 {
  line-height: 2;
  font-weight: normal;
}



/*input、 textarea placeholder css样式*/
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: rgba(160, 165, 186, 0.7);
  font-size: 12px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: rgba(160, 165, 186, 0.7);
  font-size: 12px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgba(160, 165, 186, 0.7);
  font-size: 12px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

i {
  font-style: normal;
}

input,
textarea,
button {
  -webkit-overflow-scroll: touch;
  -webkit-user-select: auto;
  -webkit-touch-callout: auto;
  outline: none;
}

button:active {
  outline: none;
}

button,
.btn {
  cursor: pointer;
}

/*浮动*/
.fl {
  float: left;
}

.fr {
  float: right;
}

/*清除浮动*/
.clear {
  height: 0;
  clear: both;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
  /*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}

/*文字对齐*/
.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

/*显示隐藏*/
.hide {
  display: none;
}

.show {
  display: block;
}

// flex布局
.just-flex {
  display: flex;
}

.flex-0-center {
  display: flex;
  align-items: center;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-between-0 {
  display: flex;
  justify-content: space-between;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

// 字体相关
.small-font {
  font-size: $small-font !important;
}

.normal-font {
  font-size: $normal-font !important;
}

.big-font {
  font-size: $big-font !important;
}

.large-font {
  font-size: $large-font !important;
}

/* 颜色相关 */

/*  margin相关 */


/* padding相关 */


//border-radius
.bd4 {
  border-radius: 4px;
}

.bd_circle {
  border-radius: 50%;
}

//line-height


//font-weight
.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

// 溢出显示
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;
}
div,
header,
footer,
section {
  box-sizing: border-box;
}

